<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Player インスタンス 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{183,2},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{364,2},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{545,2},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{726,2},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,183},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{183,183},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{364,183},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{545,183},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{726,183},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,364},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{183,364},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{364,364},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{545,364},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{726,364},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,545},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{183,545},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{364,545},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{545,545},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{726,545},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,726},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{183,726},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{364,726},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{545,726},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{726,726},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,907},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{183,907},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{364,907},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{545,907},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Player インスタンス 10029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,179}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{726,907},{179,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>runner.png</string>
				<key>textureFileName</key>
				<string>runner</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
